<header th:fragment="headerFragment" class="header-area w100per bfff fixed zi5 xy-tl">
    <div class="con wh100per flex aic jcsb">
        <div class="left-box flex aic g120">
            <a th:href="@{/}" class="logo-box img-box">
                <img th:src="@{/img/logo.svg}" alt="">
            </a>
            <ul class="menu-box flex aic g60">
                <li>
                    <a th:href="@{/#area_0}" class="scroll-btn c777 f20">홈</a>
                </li>
                <li>
                    <a th:href="@{/#area_1}" class="scroll-btn c777 f20">용병 매칭</a>
                </li>
                <li>
                    <a th:href="@{/#area_2}" class="scroll-btn c777 f20">팀 매칭</a>
                </li>
                <li>
                    <a th:href="@{/#area_3}" class="scroll-btn c777 f20">자주 묻는 질문</a>
                </li>
            </ul>
        </div>

        <div class="right-box flex aic g40">
            <div sec:authorize="isAuthenticated()" class="user-name-box flex aic jcc f16 tm c777">
                <span class="img-box w28 mr8">
                    <img th:if="${@rq.profileImgUrl != null}" th:src="@{|/gen${@rq.profileImgUrl}|}" alt="Profile Image">
                    <img th:unless="${@rq.profileImgUrl != null}" th:src="@{/img/user_img.svg}" alt="Default Image">
                </span>
                <span class="c333 tb inblock" th:text="${@rq.member.name}"></span>님
            </div>
            <ul class="sub-menu-box flex aic g12">
                <li sec:authorize="isAnonymous()">
                    <a th:href="@{/user/login}" class="c999 f16">로그인</a>
                </li>
                <li sec:authorize="isAnonymous()">
                    <a th:href="@{/user/signup}" class="c999 f16">회원가입</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/user/mypage}" class="c999 f16">내 정보</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/team/team_list}" class="c999 f16">팀 정보</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/wishlist}" class="c999 f16">위시리스트</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/user/logout}" class="c999 f16">로그아웃</a>
                </li>
            </ul>
        </div>
    </div>
</header>