spring:
  profiles:
    active: dev
    include: secret
  security:
    oauth2:
      client:
        registration:
          kakao:
            scope:
            client-name: Kakao
            authorization-grant-type: authorization_code
            redirect-uri: 'http://localhost:8080/{action}/oauth2/code/{registrationId}'
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
  mail:
    host: smtp.gmail.com
    port: 587
    username: rhkddhks12@gmail.com
    password:
    properties:
      mail:
        smtp:
          auth: true
          timeout: 5000
          starttls:
            enable: true
            logging:
              level:
                org.springframework.mail: DEBUG

  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    jpa:
      properties:
        hibernate:
          default_batch_fetch_size: 100 # Lazy ??? ? ? ??? DB?? ???? ???? ?
          show_sql: true # SQL ??? ?? ?? ???
          format_sql: true # SQL ??? ?????
          use_sql_comments: true # SQL ??? ???
    logging:
      level:
        # SQL? ??? ?? ????, SQL? ??? ??
        org.hibernate.SQL: DEBUG
        org.hibernate.orm.jdbc.bind: TRACE
        org.hibernate.orm.jdbc.extract: TRACE
        org.springframework.transaction.interceptor: TRACE
multipart:
  max-file-size: 10MB
  max-request-size: 10MB
  profile-images.location: src/main/resources/static/profile-images
  enabled: true
custom:
  genFile:
    dirPath: C:\Users\SBS\Desktop\work\playwith\src\main\resources\static\  #절대경로라서 본인 컴퓨터에서 사용되는 주소로 입력 (profile-images > 우클릭 > Copy path > Absolute path 복사)