<html layout:decorate="~{layout}">
<div layout:fragment="content">

    <!-- 메인 비주얼 영역 -->
    <div class="main-visual-area w100per rel zi1">
        <div class="swiper-box wh100per rel zi1">
            <div class="swiper-1 swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide-1 swiper-slide">
                        <img th:src="@{/img/main_visual_img_1.jpg}" alt="">
                        <div class="con wh100per">
                            <div class="text-box">
                                <h1 class="f84 lh120 cfff tb">
                                    혼자서도<br>
                                    즐겁게<br>
                                    운동하고 싶다면?
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide-2 swiper-slide">
                        <img th:src="@{/img/main_visual_img_2.jpg}" alt="">
                        <div class="con wh100per">
                            <div class="text-box">
                                <h1 class="f84 lh120 cfff tb">
                                    매번 매칭 팀을<br>
                                    찾는게<br>
                                    번거로우셨죠?
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide-3 swiper-slide">
                        <img th:src="@{/img/main_visual_img_3.jpg}" alt="">
                        <div class="con wh100per">
                            <div class="text-box">
                                <h1 class="f84 lh120 cfff tb">
                                    마음이 맞고<br>
                                    같이 운동할<br>
                                    팀을 찾으시나요?
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <!-- //메인 비주얼 영역 -->

    <!-- 용병 매칭 영역 -->
    <div class="mercenary-matching-area cnt-area w100per rel zi1" id="area_1">
        <div class="con w100per">
            <h1 class="title-text lh120 tb wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="0.6s">용병 매칭</h1>
            <p class="title-sub-text mt24 lh140 c777 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.6s">
                풋살은 하고 싶은데 혼자라면<br>
                용병 매칭을 이용해 보세요!<br>
                자도 OK, 친구랑 같이도 OK!
            </p>
            <div class="matching-list-area inner wow fadeInUp" data-wow-delay="0.9s" data-wow-duration="0.6s">
                <div class="swiper-box wh100per rel zi1">
                    <div class="swiper-2 swiper">
                        <ul class="swiper-wrapper tab-menu-box-1">
                            <li class="swiper-slide">
                                <a href="#tab1-1" class="active c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab1-2" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab1-3" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab1-4" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab1-5" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab1-6" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab1-7" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab1-8" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab1-9" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab1-10" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab1-11" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab1-12" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab1-13" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab1-14" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab1-15" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab1-16" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab1-17" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-button-next swiper-button-next-2"></div>
                    <div class="swiper-button-prev swiper-button-prev-2"></div>
                </div>
                <div class="select-area flex aic g24 mt40">
                    <div class="select-type-1 rel">
                        <select id="" name="">
                            <option value="모든 지역">모든 지역</option>
                            <option value="대전">대전</option>
                            <option value="대구">대구</option>
                            <option value="서울">서울</option>
                        </select>
                        <span class="arrow img-box abs y-middle">
                            <img th:src="@{/img/arrow_bottom_777.svg}" alt="아래 화살표">
                        </span>
                    </div>
                    <div class="select-type-1 rel">
                        <select id="" name="">
                            <option value="모든 시간">모든 시간</option>
                            <option value="10시">10시</option>
                            <option value="11시">11시</option>
                            <option value="12시">12시</option>
                        </select>
                        <span class="arrow img-box abs y-middle">
                            <img th:src="@{/img/arrow_bottom_777.svg}" alt="아래 화살표">
                        </span>
                    </div>
                    <div class="select-type-1 rel">
                        <select id="" name="">
                            <option value="모든 시간">모든 난이도</option>
                            <option value="하">하</option>
                            <option value="중">중</option>
                            <option value="상">상</option>
                        </select>
                        <span class="arrow img-box abs y-middle">
                            <img th:src="@{/img/arrow_bottom_777.svg}" alt="아래 화살표">
                        </span>
                    </div>
                </div>
                <ul class="tab-cnt-box-1 mt20">
                    <li id="tab1-1">
                        <ul class="matching-list-box">
                            <li>
                                <a href="" class="flex aic jcsb">
                                    <div class="left-box flex aic g40">
                                        <span class="time-text f18">10:00</span>
                                        <div class="text-box flex aic g8">
                                            <span class="difficulty-text f16 type-1">하</span>
                                            <span class="location-text f18">대전갈마풋살장</span>
                                        </div>
                                    </div>
                                    <span class="situation-box tac f16 tb lh140 type-1">용병 모집 중<br>0 / 14</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="flex aic jcsb">
                                    <div class="left-box flex aic g40">
                                        <span class="time-text f18">10:00</span>
                                        <div class="text-box flex aic g8">
                                            <span class="difficulty-text f16 type-2">중</span>
                                            <span class="location-text f18">대전갈마풋살장</span>
                                        </div>
                                    </div>
                                    <span class="situation-box tac f16 tb lh140 type-2">용병 모집 완료<br>14 / 14</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="flex aic jcsb">
                                    <div class="left-box flex aic g40">
                                        <span class="time-text f18">10:00</span>
                                        <div class="text-box flex aic g8">
                                            <span class="difficulty-text f16 type-3">상</span>
                                            <span class="location-text f18">대전갈마풋살장</span>
                                        </div>
                                    </div>
                                    <span class="situation-box tac f16 tb lh140 type-2">용병 모집 완료<br>14 / 14</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="flex aic jcsb finish">
                                    <div class="left-box flex aic g40">
                                        <span class="time-text f18">10:00</span>
                                        <div class="text-box flex aic g8">
                                            <span class="difficulty-text f16 type-3">상</span>
                                            <span class="location-text f18">대전갈마풋살장</span>
                                        </div>
                                    </div>
                                    <span class="situation-box tac f16 tb lh140">경기 완료</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //용병 매칭 영역 -->

    <!-- 팀 매칭 영역 -->
    <div class="team-matching-area cnt-area w100per rel zi1 bfafafa" id="area_2">
        <div class="con w100per">
            <h1 class="title-text lh120 tb wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="0.6s">팀 매칭</h1>
            <p class="title-sub-text mt24 lh140 c777 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.6s">
                매번 상대 팀 매칭하려고<br>
                구장에 연락하기 번거로웠죠?<br>
                이젠 편하게 팀 매칭 시스템을 이용해 보세요!
            </p>
            <div class="matching-list-area inner wow fadeInUp" data-wow-delay="0.9s" data-wow-duration="0.6s">
                <div class="swiper-box wh100per rel zi1">
                    <div class="swiper-3 swiper">
                        <ul class="swiper-wrapper tab-menu-box-2">
                            <li class="swiper-slide">
                                <a href="#tab2-1" class="active c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab2-2" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab2-3" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab2-4" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab2-5" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab2-6" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab2-7" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab2-8" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab2-9" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab2-10" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab2-11" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab2-12" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab2-13" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab2-14" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab2-15" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab2-16" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                            <li class="swiper-slide">
                                <a href="#tab2-17" class="c999 lh140 tac">12월 11일<br>월요일</a>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-button-next swiper-button-next-3"></div>
                    <div class="swiper-button-prev swiper-button-prev-3"></div>
                </div>
                <div class="select-area flex aic g24 mt40">
                    <div class="select-type-1 rel">
                        <select id="" name="">
                            <option value="모든 지역">모든 지역</option>
                            <option value="대전">대전</option>
                            <option value="대구">대구</option>
                            <option value="서울">서울</option>
                        </select>
                        <span class="arrow img-box abs y-middle">
                            <img th:src="@{/img/arrow_bottom_777.svg}" alt="아래 화살표">
                        </span>
                    </div>
                    <div class="select-type-1 rel">
                        <select id="" name="">
                            <option value="모든 시간">모든 시간</option>
                            <option value="10시">10시</option>
                            <option value="11시">11시</option>
                            <option value="12시">12시</option>
                        </select>
                        <span class="arrow img-box abs y-middle">
                            <img th:src="@{/img/arrow_bottom_777.svg}" alt="아래 화살표">
                        </span>
                    </div>
                    <div class="select-type-1 rel">
                        <select id="" name="">
                            <option value="모든 시간">모든 난이도</option>
                            <option value="하">하</option>
                            <option value="중">중</option>
                            <option value="상">상</option>
                        </select>
                        <span class="arrow img-box abs y-middle">
                            <img th:src="@{/img/arrow_bottom_777.svg}" alt="아래 화살표">
                        </span>
                    </div>
                </div>
                <ul class="tab-cnt-box-2 mt20">
                    <li id="tab2-1">
                        <ul class="matching-list-box">
                            <li>
                                <a href="" class="flex aic jcsb">
                                    <div class="left-box flex aic g40">
                                        <span class="time-text f18">10:00</span>
                                        <div class="text-box flex aic g8">
                                            <span class="difficulty-text f16 type-1">하</span>
                                            <span class="location-text f18">대전갈마풋살장</span>
                                        </div>
                                    </div>
                                    <span class="situation-box tac f16 tb lh140 type-1">팀 모집 중<br>0 / 2</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="flex aic jcsb">
                                    <div class="left-box flex aic g40">
                                        <span class="time-text f18">10:00</span>
                                        <div class="text-box flex aic g8">
                                            <span class="difficulty-text f16 type-2">중</span>
                                            <span class="location-text f18">대전갈마풋살장</span>
                                        </div>
                                    </div>
                                    <span class="situation-box tac f16 tb lh140 type-2">팀 모집 완료<br>2 / 2</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="flex aic jcsb">
                                    <div class="left-box flex aic g40">
                                        <span class="time-text f18">10:00</span>
                                        <div class="text-box flex aic g8">
                                            <span class="difficulty-text f16 type-3">상</span>
                                            <span class="location-text f18">대전갈마풋살장</span>
                                        </div>
                                    </div>
                                    <span class="situation-box tac f16 tb lh140 type-2">팀 모집 완료<br>2 / 2</span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="flex aic jcsb finish">
                                    <div class="left-box flex aic g40">
                                        <span class="time-text f18">10:00</span>
                                        <div class="text-box flex aic g8">
                                            <span class="difficulty-text f16 type-3">상</span>
                                            <span class="location-text f18">대전갈마풋살장</span>
                                        </div>
                                    </div>
                                    <span class="situation-box tac f16 tb lh140">경기 완료</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //팀 매칭 영역 -->

    <!-- 질문 영역 -->
    <div class="question-area cnt-area w100per rel zi1" id="area_3">
        <div class="con w100per">
            <h1 class="title-text lh120 tb wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="0.6s">자주 묻는 질문</h1>
            <p class="title-sub-text mt24 lh140 c777 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.6s">
                자주 묻는 질문 목록입니다.<br>
                찾으시는 질문이 없으시다면<br>
                새로운 질문을 해보세요!
            </p>
            <ul class="question-list-box inner wow fadeInUp" data-wow-delay="0.9s" data-wow-duration="0.6s">
                <li>
                    <div class="area-1 flex aic jcsb">
                        <div class="left-box flex aic">
                            <h3 class="tb">Q. 질문질문질문질문질문질문질문</h3>
                        </div>
                        <span class="arrow-ico img-box">
                            <img th:src="@{/img/arrow_bottom_231916.svg}" alt="">
                        </span>
                    </div>
                    <div class="area-2">
                        <p>
                            답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변
                        </p>
                    </div>
                </li>
                <li>
                    <div class="area-1 flex aic jcsb">
                        <div class="left-box flex aic">
                            <h3 class="tb">Q. 질문질문질문질문질문질문질문</h3>
                        </div>
                        <span class="arrow-ico img-box">
                            <img th:src="@{/img/arrow_bottom_231916.svg}" alt="">
                        </span>
                    </div>
                    <div class="area-2">
                        <p>
                            답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변
                        </p>
                    </div>
                </li>
                <li>
                    <div class="area-1 flex aic jcsb">
                        <div class="left-box flex aic">
                            <h3 class="tb">Q. 질문질문질문질문질문질문질문</h3>
                        </div>
                        <span class="arrow-ico img-box">
                            <img th:src="@{/img/arrow_bottom_231916.svg}" alt="">
                        </span>
                    </div>
                    <div class="area-2">
                        <p>
                            답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변
                        </p>
                    </div>
                </li>
                <li>
                    <div class="area-1 flex aic jcsb">
                        <div class="left-box flex aic">
                            <h3 class="tb">Q. 질문질문질문질문질문질문질문</h3>
                        </div>
                        <span class="arrow-ico img-box">
                            <img th:src="@{/img/arrow_bottom_231916.svg}" alt="">
                        </span>
                    </div>
                    <div class="area-2">
                        <p>
                            답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변
                        </p>
                    </div>
                </li>
                <li>
                    <div class="area-1 flex aic jcsb">
                        <div class="left-box flex aic">
                            <h3 class="tb">Q. 질문질문질문질문질문질문질문</h3>
                        </div>
                        <span class="arrow-ico img-box">
                            <img th:src="@{/img/arrow_bottom_231916.svg}" alt="">
                        </span>
                    </div>
                    <div class="area-2">
                        <p>
                            답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- //질문 영역 -->

</div>
</html>