<html layout:decorate="~{layout}">
<div layout:fragment="content">

    <div class="login-area login-cnt-area w100per rel zi1">
        <div class="con w100per">
            <h1 class="title-text lh120 tb tac wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="0.6s">로그인</h1>
            <div class="login-box flex fdc wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.6s">
                <div class="input-type-1">
                    <input type="text" placeholder="아이디">
                </div>
                <div class="input-type-1 mt12">
                    <input type="password" placeholder="비밀번호">
                </div>
                <div class="error-text-box wsn flex g8 mt8">
                    <span class="error-text f14 cCC0000">아이디 또는 비밀번호가 올바르지 않습니다.</span>
                </div>
                <button type="button" class="btn-type-1 mt16">로그인</button>
                <div class="check-text-type-1 mt16">
                    <input type="checkbox" id="id_save">
                    <label for="id_save">
                        <span class="text c555 f14">아이디 저장</span>
                    </label>
                </div>
                <div class="add-menu-box flex jcc aic g12 mt40">
                    <a th:href="@{/user/id_search}" class="c777 f14">아이디 찾기</a>
                    <span class="line"></span>
                    <a th:href="@{/user/password_search}" class="c777 f14"> 비밀번호 찾기</a>
                    <span class="line"></span>
                    <a th:href="@{/user/signup}" class="c777 f14">회원가입</a>
                </div>
                <div class="sns-login-box mt70">
                    <h3 class="tm c333 f16 tac rel">SNS 계정으로 로그인</h3>
                    <ul class="sns-box flex aic jcc mt40 g50">
                        <li class="w36">
                            <a href="" class="img-box">
                                <img th:src="@{/img/ico_google.svg}" alt="">
                            </a>
                        </li>
                        <li class="w36">
                            <a href="" class="img-box">
                                <img th:src="@{/img/ico_naver.svg}" alt="">
                            </a>
                        </li>
                        <li class="w36">
                            <a href="" class="img-box">
                                <img th:src="@{/img/ico_kakao.svg}" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
</html>