<html layout:decorate="~{/common/layout}">
<div layout:fragment="content">
    <form th:object="${userCreateForm}" th:action="@{/user/password_search_result}" method="post">
        <div class="password-search-result-area login-cnt-area w100per rel zi2">
            <div class="con w100per">
                <h1 class="title-text lh120 tb tac wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="0.6s">비밀번호
                    찾기</h1>
                <div class="flex fdc wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.6s">
                    <ul class="flex fdc g36">
                        <li>
                            <h3 class="c333 f18 tb mb16">새로운 비밀번호<span class="tb cCC0000 inblock">*</span></h3>
                            <div class="input-type-1">
                                <input type="text" th:field="*{password1}" class="form-control"
                                       placeholder="비밀번호(최소 8자 이상, 영문, 숫자, 특수문자 3가지 조합)">
                            </div>
                            <div class="error-text-box wsn flex g8 mt8">
                                <span class="error-text f14 cCC0000">필수 입력 항목 입니다.</span>
                                <span class="error-text f14 cCC0000">사용할 수 없는 비밀번호 입니다.</span>
                                <span class="confirm-text f14 c009521">사용가능한 비밀번호 입니다.</span>
                            </div>
                            <div class="input-type-1 mt8">
                                <input type="text" th:field="*{password2}" class="form-control" placeholder="비밀번호 확인">
                            </div>
                            <div class="error-text-box wsn flex g8 mt8">
                                <span class="error-text f14 cCC0000">필수 입력 항목 입니다.</span>
                                <span class="error-text f14 cCC0000">비밀번호가 일치하지 않습니다.</span>
                                <span class="confirm-text f14 c009521">비밀번호가 일치합니다.</span>
                            </div>
                        </li>
                    </ul>
                    <button type="submit" class="btn-type-1 mt80" onclick="button_event();">비밀번호 변경</button>
                </div>
            </div>
        </div>
    </form>
        <script>
            function button_event() {
            alert("비밀번호가 정상적으로 변경되었습니다. 로그인 해 주세요.");
            document.forms[0].submit(); //현재 폼 제출
        }
    </script>
</div>
</html>