<html layout:decorate="~{/common/layout}">
<div layout:fragment="content">
    <form id="passwordSearchForm" th:action="@{/user/password_search_modify}" method="post">
        <meta name="_csrf_header" th:content="${_csrf.headerName}">
        <meta name="_csrf" th:content="${_csrf.token}">
        <div class="password-search-area login-cnt-area w100per rel zi2">
            <div class="con w100per">
                <h1 class="title-text lh120 tb tac wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="0.6s">비밀번호
                    찾기</h1>
                <div class="flex fdc wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.6s">
                    <ul class="flex fdc g36">
                        <li>
                            <h3 class="c333 f18 tb mb16">아이디<span class="tb cCC0000 inblock">*</span></h3>
                            <div class="input-type-1">
                                <input type="text" id="username" name="username" placeholder="아이디">
                            </div>
                            <!--                            <div class="error-text-box wsn flex g8 mt8">-->
                            <!--                                <span class="error-text f14 cCC0000">필수 입력 항목 입니다.</span>-->
                            <!--                            </div>-->
                        </li>
                        <li>
                            <h3 class="c333 f18 tb mb16">이메일<span class="tb cCC0000 inblock">*</span></h3>
                            <div class="input-type-1">
                                <input type="email" id="email" name="email" placeholder="이메일">
                            </div>
                            <!--                            <div class="error-text-box wsn flex g8 mt8">-->
                            <!--                                <span class="error-text f14 cCC0000">필수 입력 항목 입니다.</span>-->
                            <!--                            </div>-->
                        </li>
                        <li>
                            <h3 class="c333 f18 tb mb16">이름<span class="tb cCC0000 inblock">*</span></h3>
                            <div class="input-type-1">
                                <input type="text" id="name" name="name" placeholder="이름">
                            </div>
                            <!--                            <div class="error-text-box wsn flex g8 mt8">-->
                            <!--                                <span class="error-text f14 cCC0000">필수 입력 항목 입니다.</span>-->
                            <!--                            </div>-->
                        </li>
                    </ul>
                    <button type="submit" class="btn-type-1 mt80">비밀번호 찾기</button>
                </div>
            </div>
        </div>
    </form>
</div>
</html>
<script>
    $(document).ready(function () {
        // 폼이 제출 되면 AJAX 호출 실행
        $('#passwordSearchForm').submit(function (event) {
            // 기본 폼 제출 방지
            event.preventDefault();

            // 아이디, 이메일, 이름 값 가져오기
            var username = $('#username').val();
            var email = $('#email').val();
            var name = $('#name').val();

            // 기존에 생성된 에러 메시지가 있다면 삭제
            $('.error-text').remove();

            // 에러 메시지를 담을 변수 생성
            var usernameError = null;
            var emailError = null;
            var nameError = null;

            if (username === '') {
                usernameError = $('<p class="error-text" style="color: red; font-size: 13px;">아이디는 필수 항목입니다.</p>');
            }
            if (email === '') {
                emailError = $('<p class="error-text" style="color: red; font-size: 13px;">메일은 필수 항목입니다.</p>');
            }
            if (name === '') {
                nameError = $('<p class="error-text" style="color: red; font-size: 13px;">이름은 필수 항목입니다.</p>');
            }

            // 에러 메시지를 각각의 위치에 추가
            if (usernameError !== null) {
                usernameError.insertAfter('#username');
            }
            if (emailError !== null) {
                emailError.insertAfter('#email');
            }
            if (nameError !== null) {
                nameError.insertAfter('#name');
            }

            //CSRF 생성
            var header = $("meta[name='_csrf_header']").attr('content');
            var token = $("meta[name='_csrf']").attr('content');

            // 콘솔에 에러 로그 출력
            if (usernameError !== null || emailError !== null || nameError !== null) {
                console.error('입력 필드를 확인해주세요.');
            } else {
                // AJAX 호출
                $.ajax({
                    url: "/user/password_search_confirm",
                    method: "post",
                    data: {
                        'username': username,
                        'email': email,
                        'name': name
                        // '_csrf': token // CSRF 토큰 추가
                    },
                    dataType: "text",
                    beforeSend: function (xhr) {
                        // CSRF 토큰 설정
                        xhr.setRequestHeader(header, token);
                    },
                    success: function (data) {
                        console.log('서버에서 받은 데이터:', data);

                        // 서버에서 받은 데이터(data)를 처리
                        if (data === "password_search_modify") {
                            // 사용자의 이메일, 이름이 일치하면 결과 페이지로 리디렉션
                            window.location.href = "/user/password_search_modify";
                        }
                    },
                    error: function () {
                        console.log("입력하신 정보가 없습니다.");
                        alert("입력하신 정보가 없습니다. 다시 입력해 주세요.");
                        // 이전에 입력한 값을 지우기
                        $('#username').val('');
                        $('#email').val('');
                        $('#name').val('');
                    }
                });
            }
        });
    });
</script>
