<html layout:decorate="~{layout}">
<div layout:fragment="content">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSRF 토큰 설정 -->
        <meta name="_csrf" th:content="${_csrf.token}">
        <meta name="_csrf_header" th:content="${_csrf.headerName}">
        <div class="signup-area login-cnt-area w100per rel zi2">
            <form action="/user/signup" method="post" modelAttribute="userCreateForm">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
            <div class="con w100per">
                <h1 class="title-text lh120 tb tac wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="0.6s">회원가입</h1>
                <div class="signup-box flex fdc wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.6s">
                    <ul class="flex fdc g36">
                        <li>
                            <h3 class="c333 f18 tb mb16">프로필 사진</h3>
                            <div class="file-type-1 rel flex aie g20">
                                <div class="user-img-box">
                                    <img th:src="@{/img/user_img.svg}" alt="">
                                </div>
                                <div class="file-btn w16 abs xy-bl">
                                    <label for="user_img" class="block img-box">
                                        <img th:src="@{/img/ico_edit_999999.svg}" alt="">
                                    </label>
                                    <input type="file" id="user_img">
                                </div>
                                <button type="button" class="btn-type-3">기본 이미지</button>
                            </div>
                        </li>
                        <li>
                            <div class="input-btn-box flex g8">
                                <div class="input-type-1">
                                    <input type="text" name="username" placeholder="아이디">
                                </div>
                                <button type="button" id="checkDuplicateBtn" class="btn-type-2">중복 확인</button>
                            </div>
                            <div class="error-text-box wsn flex g8 mt8">
                                <span class="error-text f14 cCC0000">필수 입력 항목 입니다.</span>
                                <span class="error-text f14 cCC0000">중복된 아이디 입니다.</span>
                                <span class="confirm-text f14 c009521">사용가능한 아이디 입니다.</span>
                            </div>
                        </li>
                        <li>
                            <h3 class="c333 f18 tb mb16">비밀번호<span class="tb cCC0000 inblock">*</span></h3>
                            <div class="input-type-1">
                                <input type="password" name="password1" placeholder="비밀번호(최소 8자 이상, 영문, 숫자, 특수문자 3가지 조합)">
                            </div>
                            <div class="error-text-box wsn flex g8 mt8">
                                <span class="error-text f14 cCC0000">필수 입력 항목 입니다.</span>
                                <span class="error-text f14 cCC0000">사용할 수 없는 비밀번호 입니다.</span>
                                <span class="confirm-text f14 c009521">사용가능한 비밀번호 입니다.</span>
                            </div>
                            <div class="input-type-1 mt8">
                                <input type="password" name="password2" placeholder="비밀번호 확인">
                            </div>
                            <div class="error-text-box wsn flex g8 mt8">
                                <span class="error-text f14 cCC0000">필수 입력 항목 입니다.</span>
                                <span class="error-text f14 cCC0000">비밀번호가 일치하지 않습니다.</span>
                                <span class="confirm-text f14 c009521">비밀번호가 일치합니다.</span>
                            </div>
                        </li>
                        <li>
                            <h3 class="c333 f18 tb mb16">이메일<span class="tb cCC0000 inblock">*</span></h3>
                            <div class="input-btn-box flex g8">
                                <div class="input-type-1">
                                    <input type="text" name="email" placeholder="이메일">
                                </div>
                                <button type="button" id="sendEmailBtn" class="btn-type-2">전송</button>
                            </div>
                            <div id="emailMessage" class="error-text-box wsn flex g8 mt8">
                                <span class="error-text f14 cCC0000">메일이 발송되었습니다.</span>
                                <span class="confirm-text f14 c009521">인증번호가 일치합니다.</span>
                            </div>
                            <div class="input-btn-box flex g8 mt8">
                                <div class="input-type-1">
                                    <input type="text" name="verificationCode" placeholder="인증번호">
                                </div>
                                <button type="button" id="verifyBtn" class="btn-type-2">확인</button>
                            </div>
                            <div class="error-text-box wsn flex g8 mt8">
                                <span class="error-text f14 cCC0000">필수 입력 항목 입니다.</span>
                                <span class="error-text f14 cCC0000">인증번호가 일치하지 않습니다.</span>
                                <span class="confirm-text f14 c009521">인증번호가 일치합니다.</span>
                            </div>
                        </li>
                        <li>
                            <h3 class="c333 f18 tb mb16">이름<span class="tb cCC0000 inblock">*</span></h3>
                            <div class="input-type-1">
                                <input type="text" name="name" placeholder="이름">
                            </div>
                            <div class="error-text-box wsn flex g8 mt8">
                                <span class="error-text f14 cCC0000">필수 입력 항목 입니다.</span>
                            </div>
                        </li>
                        <li>
                            <h3 class="c333 f18 tb mb16">생년월일<span class="tb cCC0000 inblock">*</span></h3>
                            <div class="date-type-1">
                                <input type="date" name="birthDate">
                            </div>
                            <div class="error-text-box wsn flex g8 mt8">
                                <span class="error-text f14 cCC0000">필수 입력 항목 입니다.</span>
                            </div>
                        </li>
                        <li>
                            <ul class="flex g8">
                                <li class="w50per">
                                    <h3 class="c333 f18 tb mb16">지역<span class="tb cCC0000 inblock">*</span></h3>
                                    <div class="select-type-2 rel">
                                        <select id="area" name="area">
                                            <option value="지역">지역</option>
                                            <option value="강원도">강원도</option>
                                            <option value="경기도">경기도</option>
                                            <option value="충청도">충청도</option>
                                            <option value="전라도">전라도</option>
                                            <option value="경상도">경상도</option>
                                            <option value="제주">제주</option>
                                            <option value="서울">서울</option>
                                            <option value="인천">인천</option>
                                            <option value="대전">대전</option>
                                            <option value="부산">부산</option>
                                            <option value="대구">대구</option>
                                            <option value="울산">울산</option>
                                            <option value="광주">광주</option>
                                        </select>
                                        <span class="arrow img-box abs y-middle">
                                        <img th:src="@{/img/arrow_bottom_999999.svg}" alt="">
                                    </span>
                                    </div>
                                    <div class="error-text-box wsn flex g8 mt8">
                                        <span class="error-text f14 cCC0000">필수 입력 항목 입니다.</span>
                                    </div>
                                </li>
                                <li class="w50per">
                                    <h3 class="c333 f18 tb mb16">레벨<span class="tb cCC0000 inblock">*</span></h3>
                                    <div class="select-type-2 rel">
                                        <select id="level" name="level">
                                            <option value="레벨">레벨</option>
                                            <option value="하">하</option>
                                            <option value="중">중</option>
                                            <option value="상">상</option>
                                        </select>
                                        <span class="arrow img-box abs y-middle">
                                        <img th:src="@{/img/arrow_bottom_999999.svg}" alt="">
                                    </span>
                                    </div>
                                    <div class="error-text-box wsn flex g8 mt8">
                                        <span class="error-text f14 cCC0000">필수 입력 항목 입니다.</span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="check-text-type-2 mt100 flex aic">
                        <input type="checkbox" id="privacy">
                        <label for="privacy">
                            <span class="text">개인정보 수집 및 이용 동의</span>
                        </label>
                    </div>
                    <div class="error-text-box wsn flex g8 mt8">
                        <span class="error-text f14 cCC0000">필수 체크 항목 입니다.</span>
                    </div>
                    <button type="submit" class="btn-type-1 mt40">회원가입</button>
                </div>
            </div>
            </form>
        </div>
</div>
</html>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
<!--        // 페이지 로드 시 에러 메시지 숨기기-->
<!--        $(".error-text-box").hide();-->

<!--        // 회원가입 버튼 클릭 시 처리-->
<!--        $(".btn-type-1.mt40").click(function () {-->
<!--            console.log("회원가입 버튼이 클릭되었습니다.");-->
<!--            // 사용자가 입력한 데이터 가져오기-->
<!--            var username = $("input[name='username']").val();-->
<!--            var password1 = $("input[name='password1']").val();-->
<!--            var password2 = $("input[name='password2']").val();-->
<!--            var email = $("input[name='email']").val();-->
<!--            var verificationCode = $("input[name='verificationCode']").val();-->
<!--            var name = $("input[name='name']").val();-->
<!--            var birthDate = $("input[name='birthDate']").val();-->
<!--            var area = $("#area").val();-->
<!--            var level = $("#level").val();-->
<!--            var token = $("meta[name='_csrf']").attr("content");-->
<!--            var header = $("meta[name='_csrf_header']").attr("content");-->
<!--            var profileImgUrl = $("#user_img").val();-->

<!--            // TODO: 입력 데이터 유효성 검사 및 필요한 처리 수행-->
<!--            var isValid = validateInput(username, password1, password2, email, verificationCode, name, birthDate, area, level);-->

<!--            if (isValid) {-->
<!--                // 서버에 회원가입 요청 보내기-->
<!--                $.ajax({-->
<!--                    type: "POST",-->
<!--                    url: "/user/signup",-->
<!--                    data: {-->
<!--                        username: username,-->
<!--                        password1: password1,-->
<!--                        password2: password2,-->
<!--                        email: email,-->
<!--                        verificationCode: verificationCode,-->
<!--                        name: name,-->
<!--                        birthDate: birthDate,-->
<!--                        area: area,-->
<!--                        level: level,-->
<!--                        profileImgUrl: profileImgUrl-->
<!--                    },-->
<!--                    beforeSend: function (xhr) {-->
<!--                        // CSRF 토큰을 헤더에 포함-->
<!--                        xhr.setRequestHeader(header, token);-->
<!--                    },-->
<!--                    success: function (response) {-->
<!--                        // 성공 시 사용자에게 메시지 표시 또는 다른 처리 수행-->
<!--                        if (response.success) {-->
<!--                            alert("회원가입이 완료되었습니다.");-->
<!--                        } else {-->
<!--                            // 에러 메시지 표시-->
<!--                            displayErrorMessages(response.errors);-->
<!--                        }-->
<!--                    },-->
<!--                    error: function (error) {-->
<!--                        // 실패 시 사용자에게 메시지 표시 또는 다른 처리 수행-->
<!--                        alert("회원가입에 실패하였습니다. 다시 시도해주세요.");-->
<!--                    }-->
<!--                });-->
<!--            } else {-->
<!--    // 유효성 검사 실패 시 추가적인 처리 (예: 에러 메시지 표시)-->
<!--    console.log("유효성 검사 실패");-->
<!--}-->
<!--        });-->

        // 이메일 전송 버튼 클릭 시 처리
        $("#sendEmailBtn").click(function () {
        console.log("이메일 전송 버튼이 클릭되었습니다.");
            // 사용자가 입력한 이메일 주소 가져오기
            var email = $("input[name='email']").val();

            // TODO: 이메일 주소 유효성 검사 등 필요한 처리 수행
             var isEmailValid = validateEmail(email);
             // CSRF 토큰 가져오기
            if (isEmailValid) {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            // 서버에 이메일 전송 요청 보내기
            const sendData = { email: email };

            $.ajax({
                type: "POST",
                url: "/email",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(sendData),
                beforeSend: function(xhr) {

                // CSRF 토큰을 헤더에 포함
                    xhr.setRequestHeader(header, token);
                },
                success: function (verificationCode) {
                    // 성공 시 사용자에게 메시지 표시 또는 다른 처리 수행
                    showSuccessMessage(verificationCode);
                    updateEmailMessage("이메일이 성공적으로 발송되었습니다.");
                },
                error: function (error) {
                    // 실패 시 사용자에게 메시지 표시 또는 다른 처리 수행
                    showFailureMessage();
                    updateEmailMessage("이메일 발송에 실패하였습니다. 다시 시도해주세요.");
                }
            });
            }
        });
        function validateEmail(email) {
             // 간단한 이메일 유효성 검사 로직을 사용
             var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return emailRegex.test(email);
        }
<!--        function validateInput(username, password1, password2, email, verificationCode, name, birthDate, area, level) {-->
<!--            // TODO: 각 입력값에 대한 유효성 검사 로직 작성-->
<!--            if (!username || !password1 || !password2 || !email || !verificationCode || !name || !birthDate || area === "지역" || level === "레벨") {-->
<!--                updateErrorMessage("required", $("input[name='username']"));-->
<!--                return false;-->
<!--            }-->

<!--            $(".error-text-box").hide();-->
<!--            return true;-->
<!--        }-->
         function displayErrorMessages(errors) {
          console.log("에러 메시지:", errors);
            // 각 입력 필드에 대한 에러 메시지 표시
            for (var field in errors) {
                updateErrorMessage(errors[field], $("input[name='" + field + "']"));
            }
        }
     // 에러 메시지 업데이트 함수
    function updateErrorMessage(errorType, inputBox) {
        console.log("updateErrorMessage - errorType:", errorType);
        console.log("updateErrorMessage - inputBox:", inputBox);
        // 에러 메시지를 표시할 요소
        var errorBox = inputBox.siblings(".error-text-box");

        // 특정 에러 타입에 따라 메시지 업데이트
        switch (errorType) {
            case "required":
                errorBox.find(".error-text.f14.cCC0000").show().text("필수 입력 항목입니다.");
                break;
            case "invalidEmail":
                errorBox.find(".error-text.f14.cCC0000").show().text("유효한 이메일 주소를 입력하세요.");
                break;
            // 추가적인 에러 타입에 따른 처리 가능
        }
    }

     function updateEmailMessage(message) {
            $("#emailMessage").empty().append("<span class='confirm-text f14 c009521'>" + message + "</span>");
        }

        function showSuccessMessage(verificationCode) {
            // 이 함수 내부에서 어떤 동작이 이루어지는지 확인
            console.log("Verification Code:", verificationCode);
            // 기타 로직 추가 가능
        }

        function showFailureMessage() {
            // 이 함수 내부에서 어떤 동작이 이루어지는지 확인
            console.log("Email sending failed.");
            // 기타 로직 추가 가능
        }
    });
</script>