<html layout:decorate="~{common/layout}">
<div layout:fragment="content">

    <div class="team-list-area sub-cnt-area w100per rel zi2">
        <div class="con w100per">
            <h1 class="title-text lh120 tb tac wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="0.6s">팀 목록</h1>
            <div class="no-team-box pt8 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.6s">
                <p class="tac f20 c333 tb mb12">등록된 팀이 없습니다.</p>
            </div>

            <div class="flex fdc wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.6s">
                <div class="table-type-1 table-type">
                    <table>
                        <thead>
                        <tr>
                            <th>번호</th>
                            <th>팀명</th>
                            <th>지역</th>
                            <th>레벨</th>
                            <th>생성일</th>
                            <th>상태</th>
                            <th>모집 인원</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="team, loop : ${teamList}">
                            <td th:text="${loop.count}"></td>
                            <td>
                                <div class="team-name flex aic jcc f16 tm c777 lh140">
                <span class="img-box w28 mr20">
                    <img th:if="${team.profileImgUrl != null}" th:src="@{|/gen${team.profileImgUrl}|}"
                         alt="Profile Image" style="width: 30px; height: 30px; border-radius: 50%;">
                    <img th:unless="${team.profileImgUrl != null}" th:src="@{/img/user_img.svg}"
                         alt="Default Image"></span>
                                    <span th:text="${team.teamName}"></span>
                                </div>
                            </td>
                            <td th:text="${team.area}"></td>
                            <td th:text="${team.level}"></td>
                            <td th:text="${#temporals.format(team.createdDate, 'yy-MM-dd HH:mm')}"></td>
                            <td>
                                <div class="btn-box inflex g8">
                                    <div th:if="${#lists.size(team.siteUsers) == 8}" class="btn-type-4" style="color: #fff; background-color: #CC0000;">모집완료</div>
                                    <div th:if="${#lists.size(team.siteUsers) >= 0 and #lists.size(team.siteUsers) < 8}"
                                         class="btn-type-4" style="color: #fff; background-color: #0F46BC;">모집중
                                    </div>
                                </div>
                            </td>
                            <td class="situation-box tac f16 tb lh140 type-1">
                                <div th:text=" ${#lists.size(team.siteUsers)} + '/8'"></div>
                            </td>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="btn-box-type-1 flex jcc">
                    <a th:href="@{/team/team_create}" class="btn-type-1">팀 등록하기</a>
                </div>
            </div>
        </div>
    </div>


</div>
</html>
