<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <form class="flex flex-col gap-6" method="POST" onsubmit="submitFindUsernameForm(this); return false;"
          th:action>
        <div th:if="${param.error}">
            <div class="alert alert-danger">
                아이디 또는 비밀번호가 올바르지 않습니다.
            </div>
        </div>
        <div class="form-control">
            <label class="label">
                <span class="label-text">이름</span>
            </label>
            <input autofocus class="input input-bordered" maxlength="80" name="name" placeholder="이름"
                   type="name">
            <span class="label-text">이메일</span>
            </label>
            <input autofocus class="input input-bordered" maxlength="80" name="email" placeholder="이메일"
                   type="email">
        </div>

        <div>
            <button class="btn btn-block btn-primary gap-1">
                <i class="fa-regular fa-address-card"></i>
                <span>아이디 찾기</span>
            </button>

            <div class="text-center">
                <a class="btn btn-link" href="#">회원가입</a>
                <a class="btn btn-link" href="/user/login">로그인</a>
                <a class="btn btn-link" href="#">비밀번호 찾기</a>
            </div>
        </div>
    </form>
</div>
</html>